*{
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    height: 640px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.margin{
    background-color: #d15b19;
}

.padding{
    background-color: #459fc7;
    padding: 45px;
    border: 45px solid rgb(194, 132, 16);
    margin: 45px;
}

.content{
    height: 100px;
    width: 300px;
    background-color: #9fcae0;
}